
  <div class="center hero-unit">
    <%= link_to image_tag("manipal.png", alt: "Rails"), '#' %>
    <br />
    <br />
    <h1>Welcome to the ITSpace </h1>

    

    <br />
    <h2>
      This is the home page for the I&CT Department Portal
    </h2>
    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

