<% provide(:title, 'About Us') %>
<div class="container">
<h1>About Us</h1>
<p>
  This is a web portal for the IT department, where students can collaboratively discuss and solve problems. 
  It acts a discussion ground for teachers and students, where they can discuss topics online and excel in a better manner.
</p>
</div>