<% @class=User.find_by_id(@micropost.group_id) %>
<h2><%= @user.name %> posted in <%= @class.name %>:</h2> <br /> <h1 style="color: gray"><%= @micropost.content %></h1> 
<br /><br />
<h3>Created By <span style="color: #A55D35"> ITSPACE </span></h3>