<div class="container">
<% provide(:title, current_user.name) %>
<div class="row">
  <div class="span4" style="background-color: #000000; width:30%">
    <div style="padding-bottom: 30px">
    <section>
      <h1>
        <span style="padding: 5px"><img src= "<%= current_user.img %>" style="width: 96%" /></span>
        <span style="color: #FF660F; font-size: 35px; font-family: Trebuchet MS, serif; text-align: left; padding-top: 27px; padding-left: 15px; color: #CCCCCC;"><%= current_user.name %></span>
      </h1>
    </section>
    </div>
  </div>
  
 </div>
</div>



